<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="meyerowitz.alex.draft">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".IntroActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:name=".TeacherLoginActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".StudentLoginActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".StudentCreateActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".TeacherCreateActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".StudentPartnerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".StudentActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".TeacherActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".TeacherRosterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".TeacherDraftActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
    </application>
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_channel"
        android:value="default_channel_id"/>
</manifest>
